form.normal-form{
    margin: 10px;
}

.controllers-container{
    width: 100%;
    padding: 5%
}

.controllers-container > *{
    width: 100%;
}
mat-radio-group mat-radio-button{
    margin-left: 5px;
}

.button-row button{
    margin: 5px;
}